.tskconsole, .exconsole, .console, .starterConsole {background: #333333}
.cCell {color: black}
#meter-disk-value, #qmeter-disk-value, #qmeter-band-value { float: left; border: 1px inset #1b1b1b; border-bottom: none; background: #96CE00 url(./images/headers.png) repeat-x 0px -138px;}
#meter-disk-text, #qmeter-disk-text, #meter-band-text { color:#fff;text-shadow:0px 0px 2px #000;position: relative; text-align: left; float: left; width: 0px; height: 0px; overflow: visible; left: 40%; font-size: 11px; font-family:inherit; z-index: 1; }
#meter-disk-holder, #qmeter-disk-holder, #meter-band-holder { width: 100px; height: 16px; line-height: 16px; border-right: none; padding-left: 25px;margin-left: 0px; background: url(./images/status_icons.png) no-repeat 3px -336px;
}

#meter-cpu-text { position: absolute; left: 65px; top: 0px;color:#fff;text-shadow:0px 0px 2px #000;font-size: 11px; font-family: inherit; }
#meter-cpu-holder { width: 100px; height: 16px; line-height: 16px; border-right: none; margin-left: 0px;padding-left: 25px;background: url(./images/status_icons.png) no-repeat 3px -320px; }
#meter-cpu-td {}

.lf li input.TextboxFocus { background-color: transparent; color: #009DDD }

.cCell {
    color:#333;
}

.Cell0 {
    background-color: #FFFDF0;
    border: 1px dotted #888888;
}

.Cell1 {
    background-color: #7EB400;
}

.Cell2 {
    background-color: #75A602;
}

.Cell3 {
    background-color: #6D9A02;
}

.Cell4 {
    background-color: #628C02;
}

.Cell5 {
    background-color: #5B8101;
}

.Cell6 {
    background-color: #527501;
}

.Cell7 {
    background-color: #4A6801;
}

.Cell8 {
    background-color: #435F01;
}

.Cell9 {
    background-color: #3B5401;
}

.CellA {
    background-color: #C1C3C3;
}

.CellB {
    background-color: #999A9A;
}

.CellC {
    background-color: #767776;
}

.CellD {
    background-color: #6B6C6B;
}

.CellE {
    background-color: #60605E;
}

.CellF {
    background-color: #000;
    color:#fff;
}

#tCellNotSupported {
    text-align: center;
}

#tRowNotSupported {
    vertical-align: middle;
    color: red;
}

#autodl-tb {

	background: transparent url(./images/toolbar.png) no-repeat -480px 0px;

}

#autodl-tb:hover {

	background: transparent url(./images/toolbar.png) no-repeat -480px -24px;

}

#go {
	
	background: transparent url(./images/toolbar.png) no-repeat -456px 0px;

}

#go:hover {
	
	background: transparent url(./images/toolbar.png) no-repeat -456px -24px;

}

#autodl-multiselect-header {

	background-image: url("./images/dlg-autodl-irc.gif");

}

div#webuiUpdateToggle.pause {

	background: transparent url(./images/toolbar.png) no-repeat -360px 0px;	

}

div#webuiUpdateToggle.pause:hover {

	background: transparent url(./images/toolbar.png) no-repeat -360px -24px;	

}

div#webuiUpdateToggle.resume {

	background: transparent url(./images/toolbar.png) no-repeat -384px 0px;

}

div#webuiUpdateToggle.resume:hover {

	background: transparent url(./images/toolbar.png) no-repeat -384px -24px;

}

div#webuiRefresh {

	background: transparent url(./images/toolbar.png) no-repeat -336px 0px;	

}

div#webuiRefresh:hover{

	background: transparent url(./images/toolbar.png) no-repeat -336px -24px;

}

div#chat {background: transparent url(./images/toolbar.png) no-repeat -408px 0px;}
div#chat:hover {background: transparent url(./images/toolbar.png) no-repeat -408px -24px;}

.shieven {background: #191919; }
.shiodd {background: #333333; }


}

#maillayout #letterform table tr td {background: #181818 }
#maillayout #replyform table tr td {background: #181818 }

div#logoff {background-image: url(./images/logoff.png);}
div#logoff:hover {background-image: url(./images/logoff3.png);}
div#logoffDlg div.dlg-header {background-image: url(./images/logoff2.png);}
