html, body { background-color: #1e2124; color: #BDDBDB }
div#preload {background-image: url(./images/toolbar.png); background-image: url(./images/tstatus.png); background-image: url(./images/t_bg.png); background-image: url(./images/r_bg.gif); background-image: url(./images/i_bg.gif); background-image: url(./images/asc.gif); background-image: url(./images/desc.gif); background-image: url(./images/file.gif); background-image: url(./images/dir.gif); background-image: url(./images/pnl_open.gif); background-image: url(./images/pnl_close.gif)}
div#cover {background: #272E36}
div#msg {background: #272E36; border-top: 1px solid #D0D0D0; border-bottom: 1px solid #D0D0D0; color: #00ff00;}
div.dlg-window { background-color: #1e2124; color: #BDDBDB }

div#modalbg {background-color: #181818;}

ul.CMenu { background-color: #1e2124; }
ul.CMenu li { background: #272E36;}
ul.CMenu li a.exp {background: transparent url(./images/menuexp.gif) no-repeat scroll 140px center; }
ul.CMenu li a.sel {background: transparent url(./images/menusel.gif) no-repeat scroll 4px center}
ul.CMenu li a:hover {background-color: #BDDBDB; color: #272E36;}

ul.CMenu li a.dis {color: #333333}
ul.CMenu li a.dis:hover {background-color: #181818; color: #333333}

ul.CMenu li:hover ul li a {background-color: #272E36; color: #00FF00}
ul.CMenu li:hover ul li a:hover {background-color: #BDDBDB; color: #272E36;}

div.graph_tab {background-color: #272E36; color: #BDDBDB; font-weight: bold;}
.graph_tab_legend { color: #FFF; background-color: #272E36; }
.graph_tab_tooltip { color: #FFF; background-color: #272E36; border: 1px solid #BDDBDB; }

div#t {background: #252525 url(./images/t_bg.png) repeat-x center center; border-bottom: 1px solid #252525;}
div#t a:hover {background: transparent url(./images/tb_bg.gif) no-repeat scroll center center}

div#t div#add {background: transparent url(./images/toolbar.png) no-repeat -24px center}
div#t div#create {background: transparent url(./images/toolbar.png) no-repeat -48px center}
div#t div#remove {background: transparent url(./images/toolbar.png) no-repeat -72px center}
div#t div#start {background: transparent url(./images/toolbar.png) no-repeat -96px center}
div#t div#pause {background: transparent url(./images/toolbar.png) no-repeat -120px center}
div#t div#stop {background: transparent url(./images/toolbar.png) no-repeat -144px center}
div#t div#moveu {background: transparent url(./images/toolbar.png) no-repeat -168px center}
div#t div#moved {background: transparent url(./images/toolbar.png) no-repeat -192px center}
div#t div#search {background: transparent url(./images/toolbar.png) no-repeat -216px center}
div#t div#rss {background: transparent url(./images/toolbar.png) no-repeat -240px center}
div#t div#setting {background: transparent url(./images/toolbar.png) no-repeat -264px center}
div#t div#help {background: transparent url(./images/quest.gif) no-repeat 0px center}
div#t div#go {background: transparent url(./images/go.gif) no-repeat 0px center; }

input.Button { background: #D7D7D7 url(./images/h.gif) repeat-x center bottom; }

div#CatList { background-color: #272E36; color: #BDDBDB;}
div#CatList ul li { border: 1px solid #272E36; font-weight: bold; }
div#CatList ul li.sel {background-color: #BDDBDB; border-color: #BDDBDB; color: #272E36;}
.-_-_-all-_-_-, #-_-_-all-_-_-, #-_-_-dls-_-_-, #-_-_-com-_-_-, #-_-_-act-_-_-, #-_-_-iac-_-_-, #-_-_-err-_-_- {background-image: url(./images/tstatus.png)}
.-_-_-all-_-_-, #-_-_-all-_-_- {background-position: 4px -174px;}
#-_-_-dls-_-_- {background-position: 4px 2px;}
#-_-_-com-_-_- {background-position: 4px -14px;}
#-_-_-act-_-_- {background-position: 4px -158px;}
#-_-_-iac-_-_- {background-position: 4px -30px;}
#-_-_-err-_-_- {background-position: 4px -94px;}
div#CatList ul li.RSS {background-image: url(./images/tstatus.png); }
div#CatList ul li.disRSS {background-image: url(./images/tstatus.png); }

.stable-icon {background-image: url(./images/tstatus.png); }

div#stg { background-color: #1E2124; color: #BDDBDB; border: 2px solid #909090; }
div#stg-header { background: #1e2124 url(./images/settings.gif) no-repeat scroll 4px center; color: #00ff00;}
div#stg .lm { background-color: #272E36; border: 1px solid #D0D0D0; }

.lm li { background: transparent url(./images/bul.gif) no-repeat scroll left center}
.lm li.first {background: transparent url(./images/bul_f.gif) no-repeat scroll left bottom}
.lm li.last {background: transparent url(./images/bul_l.gif) no-repeat scroll left top}
.lm li div.toggle { background: transparent url(./images/exp.gif) no-repeat scroll center center; }
.lm li a {color: #BDDBDB; }
.lm li a.focus {background-color: #BDDBDB; color: #272E36;}
.stg_con {background-color: #272E36}

input.disabled {background-color: #272E36; }
legend {color: #00FF00; font-weight: bold}

#st_gl {background: #272E36; color: #BDDBDB;}
#st_dl, #st_con, #st_bt, #st_que, #st_sch, #st_ao, #st_dc { color: #BDDBDB;}
#st_autotools, #st_retrackers, #st_starter, #st_ratio, #st_throttle, #st_unpack, #st_scheduler {color: #BDDBDB;} 

a { color: #00ff00; font-weight: bold;}

div#tdetails {background-color: #1E2124}
div#tdcont {background: #272E36; }
div.tab { background: #272E36; }
div#lcont { background: #272E36; font-weight: bold; color: #BDDBDB;}

div#gcont table {color: #BDDBDB; font-weight: bold;}
div#gcont table td.Header {background: #323A46;}

.tabbar {background-color: #1e2124;}
.tabbar li a:hover {border-top: 2px solid #00FF00;}
.tabbar li.selected a { border-top: 2px solid #BDDBDB; background: #272E36; color: #BDDBDB; font-weight: bold;}

div.dlg-header { background-color: #1e2124; color: #00FF00;}
div.content {color: #BDDBDB;}
div#dlgLabel div.dlg-header {background-image: url(./images/label.gif); }
div#dlgAbout div.dlg-header {background-image: url(./images/about.gif); }
div#dlgHelp div.dlg-header {background-image: url(./images/about.gif); }
div#dlgProps div.dlg-header {background-image: url(./images/props.gif); }
div#yesnoDlg div.dlg-header {background-image: url(./images/error.gif); }

div#t div#ind { background: transparent url(./images/ajax-loader.gif) no-repeat 0px center; }

span#loadimg { background: transparent url(./images/ajax-loader.gif) no-repeat center center; }

.Icon_File {background: transparent url(./images/file.gif) no-repeat left center}
.Icon_Dir {background: transparent url(./images/dir.gif) no-repeat left center}
.Icon_Share {background: transparent url(./images/dir.gif) no-repeat left center}

.catpanel { background: url(./images/pnl_open.gif) 2px no-repeat; background-color: #1e2124; color: #00ff00; font-weight: bold;}
span.label-count,span.label-size { background-color: #1e2124; }
li.sel span.label-count,li.sel span.label-size { background-color: #909090; }

div#tadd-header {background-image: url(./images/world.gif); }
div#tadd { background-color: #1e2124; border: 2px solid #909090; color: #BDDBDB;}

#StatusBar { background-color: #1e2124; color: #ffffff; font-weight: bold }
#st_up { background:url(./images/status_up.gif) 6px no-repeat; color: #BDDBDB; }
#st_down { background:url(./images/status_down.gif) 6px no-repeat; color: #BDDBDB;}

.sthdr { color: #00FF00;}
.stval { color: #BDDBDB;}
