.tskconsole,
.exconsole,
.console,
.starterConsole {
    background: #333333
}
.cCell {
    color: black
}
#meter-disk-value, #qmeter-disk-value, #qmeter-band-value {
    background: #6c7a89 none repeat scroll 0 0;
    border: 1px solid transparent;
    border-radius: 12px;
    float: left;
}
#meter-disk-text,
#qmeter-disk-text,
#meter-band-text {
    color: #fff;
    text-shadow: 0px 0px 2px #000;
    position: relative;
    text-align: left;
    float: left;
    width: 0px;
    height: 0px;
    overflow: visible;
    left: 40%;
    font-size: 11px;
    font-family: inherit;
    z-index: 1;
}
#meter-disk-holder, #qmeter-disk-holder, #meter-band-holder {
    background: rgba(0, 0, 0, 0) url("./images/status_icons.png") no-repeat scroll 3px -588px;
    border-right: medium none;
    height: 18px;
    line-height: 16px;
    margin-left: 0;
    padding-left: 25px;
    width: 100px;
}
#meter-cpu-text {
    position: absolute;
    left: 45px;
    top: 0px;
    color: #fff;
    text-shadow: 0px 0px 2px #000;
    font-size: 11px;
    font-family: inherit;
}
#meter-cpu-holder {
  *background: rgba(0, 0, 0, 0) url("./images/status_icons.png") no-repeat scroll 3px -616px;
  border-right: medium none;
  height: 16px;
  line-height: 16px;
  margin-left: 25px;
  padding-left: 25px;
  width: 100px;
}
#meter-cpu-td {
  background: rgba(0, 0, 0, 0) url("./images/status_icons.png") no-repeat scroll 3px -612px !important;
  height: 16px;
  line-height: 18px;
} 
.lf li input.TextboxFocus {
    background-color: transparent;
    color: #009DDD
}
.cCell {
    color: #333;
}
.Cell0 {
    background-color: #FFFDF0;
    border: 1px dotted #888888;
}
.Cell1 {
    background-color: #7EB400;
}
.Cell2 {
    background-color: #75A602;
}
.Cell3 {
    background-color: #6D9A02;
}
.Cell4 {
    background-color: #628C02;
}
.Cell5 {
    background-color: #5B8101;
}
.Cell6 {
    background-color: #527501;
}
.Cell7 {
    background-color: #4A6801;
}
.Cell8 {
    background-color: #435F01;
}
.Cell9 {
    background-color: #3B5401;
}
.CellA {
    background-color: #C1C3C3;
}
.CellB {
    background-color: #999A9A;
}
.CellC {
    background-color: #767776;
}
.CellD {
    background-color: #6B6C6B;
}
.CellE {
    background-color: #60605E;
}
.CellF {
    background-color: #000;
    color: #fff;
}
#tCellNotSupported {
    text-align: center;
}
#tRowNotSupported {
    vertical-align: middle;
    color: red;
}
#autodl-tb {
    background: transparent url(./images/toolbar.png) no-repeat -271px 0px;
}
#autodl-tb:hover {
    background: transparent url(./images/toolbar.png) no-repeat -271px -24px;
}
#go {
    background: transparent url(./images/toolbar.png) no-repeat -456px 0px;
}
#go:hover {
    background: transparent url(./images/toolbar.png) no-repeat -456px -24px;
}
#autodl-multiselect-header {
    background-image: url("./images/dlg-autodl-irc.gif");
}
div#webuiUpdateToggle.pause {
    background: transparent url(./images/toolbar.png) no-repeat -560px 0px;
}
div#webuiUpdateToggle.pause:hover {
    background: transparent url(./images/toolbar.png) no-repeat -560px -30px;
}
div#webuiUpdateToggle.resume {
    background: transparent url(./images/toolbar.png) no-repeat -452px 0px;
}
div#webuiUpdateToggle.resume:hover {
    background: transparent url(./images/toolbar.png) no-repeat -452px -30px;
}
div#webuiRefresh {
    background: transparent url(./images/toolbar.png) no-repeat -520px 0px;
}
div#webuiRefresh:hover {
    background: transparent url(./images/toolbar.png) no-repeat -520px -30px;
}
div#chat {
    background: transparent url(./images/toolbar.png) no-repeat -408px 0px;
}
div#chat:hover {
    background: transparent url(./images/toolbar.png) no-repeat -408px -24px;
}
.shieven {
    background: #191919;
}
.shiodd {
    background: #333333;
}
}
#maillayout #letterform table tr td {
    background: #181818
}
#maillayout #replyform table tr td {
    background: #181818
}
div#quickbox {
  background-image: url("./images/quick-box.png");
  width: 100px !important;
}
div#logoff {
    background-image: url(./images/logoff.png);
}
div#logoff:hover {
    background-image: url(./images/logoff3.png);
}
div#logoffDlg div.dlg-header {
    background-image: url(./images/logoff2.png);
}

#StatusBar table tr td.pstatus0 {
  background: rgba(0, 0, 0, 0) url("./images/yellow.png") no-repeat scroll 5px center;
}
#StatusBar table tr td.pstatus1 {
  background: rgba(0, 0, 0, 0) url("./images/red.png") no-repeat scroll 5px center;
}
#StatusBar table tr td.pstatus2 {
  background: rgba(0, 0, 0, 0) url("./images/green.png") no-repeat scroll 5px center;
}

/* IRSSI TAB */
#autodl-irssi-log {
    border: 1px solid #2a2a2a !important;
    font-family: "Courier New",Courier,monospace;
    overflow: auto;
    padding: 3px;
}
.autodl-bg-default {
    background-color: #222;
}
.autodl-fg-default {
    color: #aaa;
}
#autodl-irssi-log tr:hover {
  background-color: #2a2a2a;
}
#autodl-irssi-log tr, #autodl-irssi-log td {
  border: 0 none black;
  margin: 0;
  padding: 4px 2px;
}
#autodl-preferences-header, #autodl-filters-header, #autodl-trackers-header, #autodl-servers-header, #autodl-ircsrvs-header, #autodl-help-header, #autodl-multiselect-header {
  background-image: none;
}
#autodl-filters {
  height: 370px;
  width: 600px;
}
.listbox {
  background-color: #000;
  border: 1px solid #333;
  color: green;
  font-family: Courier;
  overflow: auto;
  white-space: nowrap;
}
.listboxItem {
  color: #ccc;
  padding: 1px 2px;
}
.listboxItem:hover {
  background: #222 none repeat scroll 0 0;
}
.listboxItemSelected {
  background: #333 none repeat scroll 0 0;
  color: #ccc;
}
#hostcookies {
  border: 1px solid #333;
  cursor: text;
  font-family: monospace;
  font-size: 12px;
  height: 220px;
  width: 420px;
}
#lookat {
  border: 1px solid #333;
  cursor: text;
  font-family: monospace;
  font-size: 12px;
  height: 220px;
  width: 420px;
}
#fMan_navbut {
  background-color: transparent;
  background-image: url("./images/default_images/curdir.png");
  background-position: center center;
  background-repeat: no-repeat;
  border: 1px solid #2a2a2a;
  height: 18px;
  margin: 0 2px;
  padding: 0;
  width: 18px;
}
#fMan_navbut:hover {
  background-image: url("./images/default_images/refresh.png");
  background-repeat: no-repeat;
  border-color: #2a2a2a;
  border-style: solid;
  border-width: 1px;
}

#lbl_nlb {
    visibility: hidden !important;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
::-webkit-input-placeholder {
  color: #808080;
  font-style: italic;
}
::-moz-placeholder {
  color: #808080;
  font-style: italic;
}
:-ms-input-placeholder {
  color: #808080;
  font-style: italic;
}
.autodl-listbox {
  overflow: auto;
  white-space: nowrap;
  bottom-margin: 5px;
}
.autodl-listbox-item {
  padding: 1px 2px;
}
.textbox-3 {
  width: 3em;
}
.textbox-5 {
  width: 5em;
}
.textbox-7 {
  width: 7em;
}
.textbox-8 {
  width: 8em;
}
.textbox-9 {
  width: 9em;
}
.textbox-11 {
  width: 11em;
}
.textbox-13 {
  width: 13em;
}
.textbox-16 {
  width: 16em;
}
.textbox-18 {
  width: 18em;
}
.textbox-20 {
  width: 20em;
}
.textbox-22 {
  width: 22em;
}
.textbox-23 {
  width: 23em;
}
.textbox-25 {
  width: 25em;
}
.textbox-30 {
  width: 30em;
}
.dialog-buttons {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 5px 3px;
}
.dialog-buttons input {
  margin-left: 5px;
}
#autodl-preferences-header,
#autodl-filters-header,
#autodl-trackers-header,
#autodl-servers-header,
#autodl-ircsrvs-header,
#autodl-help-header,
#autodl-multiselect-header {
  background-image: url("../../../images/settings.gif");
}
#autodl-help {
  width: 250px;
  height: 225px;
}
#autodl-help a,
#autodl-help p {
  font-size: 12px;
}
#autodl-servers {
  width: 500px;
  height: 250px;
}
#autodl-servers p {
  margin: 5px 5px;
}
#autodl-servers-left {
  float: left;
  margin: 5px;
}
#autodl-servers-right {
  padding: 5px;
}
#autodl-servers-list {
  width: 180px;
  height: 160px;
}
#autodl-trackers {
  width: 700px;
  height: 300px;
}
#autodl-trackers-left {
  float: left;
  margin: 5px;
}
#autodl-trackers-right {
  padding: 5px;
}
#autodl-trackers-right p {
  margin: 0;
}
#autodl-trackers-list {
  width: 200px;
  height: 255px;
}
#autodl-filters {
  width: 600px;
  height: 350px;
}
#autodl-filters-left {
  float: left;
  margin: 0 5px 10px 5px;
}
#autodl-filters-right {
  margin-top: 5px;
}
#autodl-filters-list {
  width: 200px;
  height: 270px;
}
#autodl-filters-tabs {
  margin-top: 5px;
}
#autodl-filters-contents p {
  margin: 3px;
  padding: 0;
}
.watchdir-button {
  width: 30px;
}
.filters-button,
#autodl-advanced-output-sites-button {
  margin: 0;
  padding: 0;
}
#autodl-advanced-output-sites-button {
  width: 12em;
}
#autodl-irc-autoconn-enabled {
  margin-top: 5px;
  margin-bottom: 5px;
}
#autodl-prefs {
  width: 500px;
  height: 190px;
}
#autodl-prefs p {
  margin: 3px;
  padding: 0;
}
#autodl-prefs-contents {
  margin: 3px 5px;
  padding: 0;
}
#autodl-prefs-tabs {
  margin: 5px 2px;
  padding: 0;
}
#autodl-ircsrvs {
  width: 600px;
  height: 330px;
}
#autodl-ircsrvs-left {
  float: left;
  margin: 0 5px 10px 5px;
}
#autodl-ircsrvs-right {
  margin-top: 5px;
}
#autodl-ircsrvs-right label {
  margin-left: 3px;
}
#autodl-ircsrvs-list {
  width: 200px;
  height: 240px;
}
#autodl-ircsrvs-announce-channels-button {
  width: 125px;
}
#autodl-ircsrvs-channels {
  width: 13em;
}
#autodl-filters select,
#autodl-prefs select,
#autodl-ircsrvs select {
  margin-left: 5px;
  margin-right: 5px;
}
#autodl-multiselect {
  width: 200px;
  height: 300px;
}
#autodl-multiselect-title {
  margin: 3px;
  padding: 0;
}
#autodl-multiselect-select {
  width: 180px;
  height: 200px;
}
#autodl-irssi-tab {
  margin: 0;
  padding: 0;
  border: 0 none #000;
  font-family: Tahoma, Arial, Helvetica, sans-serif;
  font-size: 11px;
}
#autodl-log-buttons {
  padding: 3px 3px;
}
#autodl-log-buttons form {
  display: inline;
}
#autodl-log-clear-button,
#autodl-log-update-button,
#autodl-log-whatsnew-button,
#autodl-log-version-button,
#autodl-log-reload-button,
#autodl-log-reload-trackers-button,
#autodl-log-backup-button,
#autodl-log-restore-button {
  width: 100px;
}
#autodl-irssi-log {
  overflow: auto;
  font-family: "Courier New", Courier, monospace;
  padding: 3px;
}
#autodl-irssi-log tr,
#autodl-irssi-log td {
  margin: 0;
  padding: 0 2px;
  border: 0 none #000;
}
.autodl-line-time {
  vertical-align: top;
  font-weight: bold;
}
.autodl-line-text {
  font-weight: normal;
  text-decoration: none;
  white-space: pre-wrap;
  width: 100%;
}
.autodl-line-sep {
  white-space: pre;
  font-weight: bold;
}
.autodl-bold {
  font-weight: bold;
}
.autodl-underline {
  text-decoration: underline;
}
#autodl-tb {
  background: transparent url("../img/prefs_std.gif") no-repeat center;
}
.autodl-listbox {
  border: none;
  background-color: #282828;
  text-shadow: none;
}
.autodl-listbox-item {
  color: #fff;
}
.autodl-listbox-item:hover {
  background: #3b3b3b;
}
.autodl-listbox-item-selected {
  background: #474747;
}
.autodl-listbox-item-selected:hover {
  background: #555;
}
#autodl-multiselect-select {
  margin-left: 10px;
  background: none;
  background-color: #282828;
  color: #fff;
}
#autodl-irssi-log {
  border: 1px solid #575757;
}
#autodl-irssi-log tr:hover {
  background-color: #282828;
}
.autodl-bold {
  color: #fff;
}
.autodl-fg-default {
  color: #808080;
}
.autodl-fg-as-bg {
  background-color: #808080;
}
.autodl-bg-default {
  background-color: #000;
}
.autodl-bg-as-fg {
  color: #000;
}
.autodl-fg-0 {
  color: #fff;
}
.autodl-fg-1 {
  color: #000;
}
.autodl-fg-2 {
  color: #00f;
}
.autodl-fg-3 {
  color: #008000;
}
.autodl-fg-4 {
  color: #f00;
}
.autodl-fg-5 {
  color: #a52a2a;
}
.autodl-fg-6 {
  color: #800080;
}
.autodl-fg-7 {
  color: #ffa500;
}
.autodl-fg-8 {
  color: #ff0;
}
.autodl-fg-9 {
  color: #adff2f;
}
.autodl-fg-10 {
  color: #0ff;
}
.autodl-fg-11 {
  color: #e0ffff;
}
.autodl-fg-12 {
  color: #add8e6;
}
.autodl-fg-13 {
  color: #ff758c;
}
.autodl-fg-14 {
  color: #808080;
}
.autodl-fg-15 {
  color: #d3d3d3;
}
.autodl-bg-0 {
  background-color: #fff;
}
.autodl-bg-1 {
  background-color: #000;
}
.autodl-bg-2 {
  background-color: #00f;
}
.autodl-bg-3 {
  background-color: #008000;
}
.autodl-bg-4 {
  background-color: #f00;
}
.autodl-bg-5 {
  background-color: #a52a2a;
}
.autodl-bg-6 {
  background-color: #800080;
}
.autodl-bg-7 {
  background-color: #ffa500;
}
.autodl-bg-8 {
  background-color: #ff0;
}
.autodl-bg-9 {
  background-color: #adff2f;
}
.autodl-bg-10 {
  background-color: #0ff;
}
.autodl-bg-11 {
  background-color: #e0ffff;
}
.autodl-bg-12 {
  background-color: #add8e6;
}
.autodl-bg-13 {
  background-color: #ff758c;
}
.autodl-bg-14 {
  background-color: #808080;
}
.autodl-bg-15 {
  background-color: #d3d3d3;
}

hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}::-webkit-input-placeholder{color:#808080;font-style:italic}::-moz-placeholder{color:#808080;font-style:italic}:-ms-input-placeholder{color:#808080;font-style:italic}.autodl-listbox{overflow:auto;white-space:nowrap;bottom-margin:5px}.autodl-listbox-item{padding:1px 2px}.textbox-3{width:3em}.textbox-5{width:5em}.textbox-7{width:7em}.textbox-8{width:8em}.textbox-9{width:9em}.textbox-11{width:11em}.textbox-13{width:13em}.textbox-16{width:16em}.textbox-18{width:18em}.textbox-20{width:20em}.textbox-22{width:22em}.textbox-23{width:23em}.textbox-25{width:25em}.textbox-30{width:30em}.dialog-buttons{position:absolute;right:0;bottom:0;padding:5px 3px}.dialog-buttons input{margin-left:5px}#autodl-preferences-header,#autodl-filters-header,#autodl-trackers-header,#autodl-servers-header,#autodl-ircsrvs-header,#autodl-help-header,#autodl-multiselect-header{background-image:url("../../../images/settings.gif")}#autodl-help{width:250px;height:225px;}#autodl-help a,#autodl-help p{font-size:12px}#autodl-servers{width:500px;height:250px;}#autodl-servers p{margin:5px 5px}#autodl-servers-left{float:left;margin:5px}#autodl-servers-right{padding:5px}#autodl-servers-list{width:180px;height:160px}#autodl-trackers{width:700px;height:300px}#autodl-trackers-left{float:left;margin:5px}#autodl-trackers-right{padding:5px;}#autodl-trackers-right p{margin:0}#autodl-trackers-list{width:200px;height:255px}#autodl-filters{width:600px;height:350px}#autodl-filters-left{float:left;margin:0 5px 10px 5px}#autodl-filters-right{margin-top:5px}#autodl-filters-list{width:200px;height:270px}#autodl-filters-tabs{margin-top:5px}#autodl-filters-contents p{margin:3px;padding:0}.watchdir-button{width:30px}.filters-button,#autodl-advanced-output-sites-button{margin:0;padding:0}#autodl-advanced-output-sites-button{width:12em}#autodl-irc-autoconn-enabled{margin-top:5px;margin-bottom:5px}#autodl-prefs{width:500px;height:190px;}#autodl-prefs p{margin:3px;padding:0}#autodl-prefs-contents{margin:3px 5px;padding:0}#autodl-prefs-tabs{margin:5px 2px;padding:0}#autodl-ircsrvs{width:600px;height:330px}#autodl-ircsrvs-left{float:left;margin:0 5px 10px 5px}#autodl-ircsrvs-right{margin-top:5px;}#autodl-ircsrvs-right label{margin-left:3px}#autodl-ircsrvs-list{width:200px;height:240px}#autodl-ircsrvs-announce-channels-button{width:125px}#autodl-ircsrvs-channels{width:13em}#autodl-filters select,#autodl-prefs select,#autodl-ircsrvs select{margin-left:5px;margin-right:5px}#autodl-multiselect{width:200px;height:300px}#autodl-multiselect-title{margin:3px;padding:0}#autodl-multiselect-select{width:180px;height:200px}#autodl-irssi-tab{margin:0;padding:0;border:0 none #000;font-family:Tahoma,Arial,Helvetica,sans-serif;font-size:11px}#autodl-log-buttons{padding:3px 3px;}#autodl-log-buttons form{display:inline}#autodl-log-clear-button,#autodl-log-update-button,#autodl-log-whatsnew-button,#autodl-log-version-button,#autodl-log-reload-button,#autodl-log-reload-trackers-button,#autodl-log-backup-button,#autodl-log-restore-button{width:100px}#autodl-irssi-log{overflow:auto;font-family:"Courier New",Courier,monospace;padding:3px;}#autodl-irssi-log tr,#autodl-irssi-log td{margin:0;padding:0 2px;border:0 none #000}.autodl-line-time{vertical-align:top;font-weight:bold}.autodl-line-text{font-weight:normal;text-decoration:none;white-space:pre-wrap;width:100%}.autodl-line-sep{white-space:pre;font-weight:bold}.autodl-bold{font-weight:bold}.autodl-underline{text-decoration:underline}#autodl-tb{background:transparent url("../img/prefs_std.gif") no-repeat center}.autodl-listbox{border:none;background-color:#282828;text-shadow:none}.autodl-listbox-item{color:#fff;}.autodl-listbox-item:hover{background:#3b3b3b}.autodl-listbox-item-selected{background:#474747;}.autodl-listbox-item-selected:hover{background:#555}#autodl-multiselect-select{margin-left:10px;background:none;background-color:#282828;color:#fff}#autodl-irssi-log{border:1px solid #575757;}#autodl-irssi-log tr:hover{background-color:#282828}.autodl-bold{color:#fff}.autodl-fg-default{color:#808080}.autodl-fg-as-bg{background-color:#808080}.autodl-bg-default{background-color:#000}.autodl-bg-as-fg{color:#000}.autodl-fg-0{color:#fff}.autodl-fg-1{color:#000}.autodl-fg-2{color:#00f}.autodl-fg-3{color:#008000}.autodl-fg-4{color:#f00}.autodl-fg-5{color:#a52a2a}.autodl-fg-6{color:#800080}.autodl-fg-7{color:#ffa500}.autodl-fg-8{color:#ff0}.autodl-fg-9{color:#adff2f}.autodl-fg-10{color:#0ff}.autodl-fg-11{color:#e0ffff}.autodl-fg-12{color:#add8e6}.autodl-fg-13{color:#ff758c}.autodl-fg-14{color:#808080}.autodl-fg-15{color:#d3d3d3}.autodl-bg-0{background-color:#fff}.autodl-bg-1{background-color:#000}.autodl-bg-2{background-color:#00f}.autodl-bg-3{background-color:#008000}.autodl-bg-4{background-color:#f00}.autodl-bg-5{background-color:#a52a2a}.autodl-bg-6{background-color:#800080}.autodl-bg-7{background-color:#ffa500}.autodl-bg-8{background-color:#ff0}.autodl-bg-9{background-color:#adff2f}.autodl-bg-10{background-color:#0ff}.autodl-bg-11{background-color:#e0ffff}.autodl-bg-12{background-color:#add8e6}.autodl-bg-13{background-color:#ff758c}.autodl-bg-14{background-color:#808080}.autodl-bg-15{background-color:#d3d3d3}
