@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800);
html, body {
    background-color: #2a2a2a;
    color: #ccc;
    font-family: Open Sans;
    text-shadow: none;
}
div#preload {
    width: 0px;
    height: 0px;
    display: none;
    background-image: url(./images/menus.png);
    background-image: url(./images/toolbar.png);
    background-image: url(./images/status_icons.png);
    background-image: url(./images/r_bg.gif);
    background-image: url("./images/asc.gif");
    background-image: url(./images/desc.gif);
    background-image: url(./images/pnl_open.png) !important;
    background-image: url(./images/pnl_close.png) !important;
    background-image: url(./images/headers.png);
	background-repeat: no-repeat;
}
a.dlg-close:link, a.dlg-close:visited {
	background: transparent url("./images/close.png") no-repeat scroll left center;
	border: 0 none;
	float: right;
	height: 14px;
	margin: 5px;
	width: 14px;
}
a.dlg-close:hover {
	background: transparent url("./images/close.png") no-repeat scroll -14px center;
	border: 0 none;
	float: right;
	height: 14px;
	width: 14px;
}
a {
	color: #686868;
	font-family: Open Sans,Tahoma,Arial,Helvetica,sans-serif;
	font-size: 12px;
}
hr {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #333 -moz-use-text-color -moz-use-text-color !important;
    border-image: none;
    border-style: solid none none;
    border-width: 1px 0 0;
    display: block;
    height: 1px;
    margin: 1em 0;
    padding: 0;
}
div#cover {
    background: #181818
}
div#msg {
	background: #2a2a2a none repeat scroll 0 0;
	border-bottom: 1px solid #333;
	border-top: 1px solid #333;
	color: #aaa;
	font-size: 12px;
	font-weight: bold;
	text-shadow: 0 0 3px #000;
}
div#sc {
    border: 1px solid #333333;
    background-color: #181818
}
div#sc li.se_act div {
    background-color: #333333;
    color: #888888
}
div#lng {
    background-color: #181818;
    border: 1px solid #333333
}
/*Drop Menu */

ul.CMenu {
	background: #222 none repeat scroll 0 0;
	border-color: #333;
	border-style: solid;
	border-width: 1px;
	opacity: 0.98;
	padding: 0;
  width: 180px;
}
ul.CMenu li {
    background: #3a3a3a;
    width: 180px;
}
ul.CMenu li:hover {
    background: #333
}
ul.CMenu li.menuitem:first-child {
    -moz-border-radius-topleft: 5px;
    -webkit-border-top-left-radius: 5px;
    -moz-border-radius-topright: 5px;
    -webkit-border-top-right-radius: 5px;
}
ul.CMenu li.menuitem:last-child {
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-right-radius: 5px;
}
ul.CMenu li a {
	background: transparent url("./images/menus.png") no-repeat scroll 0 0;
	color: #999;
	padding: 3px 4px 3px 18px;
}
ul.CMenu li a:hover {
    color: #757571;
    background: #cfdeef url(./images/menus.png) no-repeat 0px 0px;
}
ul.CMenu li a.dis {
    color: #333333
}
ul.CMenu li a.dis:hover {
    color: #333333
}
ul.CMenu li hr {
	background-color: #222;
	border-bottom: 1px solid #222;
	border-width: 0 0 1px;
	height: 1px;
	margin: 0;
	padding: 0;
	width: 100%;
}
ul.CMenu li a.exp {
    background: transparent url(./images/menus.png) no-repeat right -22px;
}
ul.CMenu li a.exp:hover {
    background: transparent url(./images/menus.png) no-repeat right -44px;
}
ul.CMenu li a.sel {
    color: #178FD1;
    background: transparent url(./images/menus.png) no-repeat 0px -66px;
}
ul.CMenu li ul li a.sel {
    color: #178FD1
}
ul.CMenu li a:hover {
	background-color: #222;
	color: #ccc;
	font-family: Open Sans;
	font-weight: 600;
	text-shadow: 0 0 2px #000;
}
ul.CMenu li:hover ul li a {
    background-color: #111;
    color: #666666
}
ul.CMenu li:hover ul li a:hover {
	background-color: #222;
	color: #ccc;
	text-shadow: 0 0 2px #000;
}
ul.CMenu li ul li a.dis {
    color: #333333
}
ul.CMenu li ul li a.dis:hover {
    background-color: #eee;
    color: #333333
}
div#VDivider {
    background: #444 none repeat scroll 0 0;
    cursor: n-resize;
    height: 5px;
    margin: 0;
    padding: 0;
    width: 100%;
}
#sel {
    border: 1px dotted #555555;
}
div#t {
    background: #2a2a2a none repeat scroll 0 0;
    border-bottom: 1px solid #222;
    height: 42px;
    line-height: 0px;
    white-space: nowrap;
    width: 100%;
}
div#t a:hover {
    background: none;
}
div#t div.TB_Separator {
    background-color: #222;
    border-right: 1px solid #444;
    height: 42px;
    margin: 0 0 0 5px;
}
div#t div#add {
    background: transparent url(./images/toolbar.png) no-repeat 0px 0px
}
div#t div#add:hover {
    background: transparent url(./images/toolbar.png) no-repeat 0px -30px
}
div#t div#create {
    background: transparent url(./images/toolbar.png) no-repeat -30px 0px
}
div#t div#create:hover {
    background: transparent url(./images/toolbar.png) no-repeat -30px -30px
}
div#t div#remove {
    background: transparent url(./images/toolbar.png) no-repeat -60px 0px
}
div#t div#remove:hover {
    background: transparent url(./images/toolbar.png) no-repeat -60px -30px
}
div#t div#start {
    background: transparent url(./images/toolbar.png) no-repeat -90px 0px
}
div#t div#start:hover {
    background: transparent url(./images/toolbar.png) no-repeat -90px -30px
}
div#t div#pause {
    background: transparent url(./images/toolbar.png) no-repeat -120px 0px
}
div#t div#pause:hover {
    background: transparent url(./images/toolbar.png) no-repeat -120px -30px
}
div#t div#stop {
    background: transparent url(./images/toolbar.png) no-repeat -150px 0px
}
div#t div#stop:hover {
    background: transparent url(./images/toolbar.png) no-repeat -150px -30px
}
div#t div#moveu {
    background: transparent url(./images/toolbar.png) no-repeat -144px 0px
}
div#t div#moveu:hover {
    background: transparent url(./images/toolbar.png) no-repeat -144px -30px
}
div#t div#moved {
    background: transparent url(./images/toolbar.png) no-repeat -168px 0px
}
div#t div#moved:hover {
    background: transparent url(./images/toolbar.png) no-repeat -168px -30px
}
div#t div#search {
    background: transparent url(./images/toolbar.png) no-repeat -241px 0px
}
div#t div#search:hover {
    background: transparent url(./images/toolbar.png) no-repeat -241px -30px
}
div#t div#rss {
    background: transparent url(./images/toolbar.png) no-repeat -301px 0px
}
div#t div#rss:hover {
    background: transparent url(./images/toolbar.png) no-repeat -301px -30px
}
#autodl-tb {
    background: transparent url("./images/toolbar.png") no-repeat scroll -271px 0 !important;
}
#autodl-tb:hover {
    background: transparent url("./images/toolbar.png") no-repeat scroll -271px -30px !important;
}
div#t div#setting {
    background: transparent url(./images/toolbar.png) no-repeat -330px 0px
}
div#t div#setting:hover {
    background: transparent url(./images/toolbar.png) no-repeat -330px -30px
}
div#t div#help {
    background: transparent url(./images/toolbar.png) no-repeat -360px 0px
}
div#t div#help:hover {
    background: transparent url(./images/toolbar.png) no-repeat -360px -30px
}
div#t div#plugins {
    background: transparent url(./images/toolbar.png) no-repeat -421px 0px
}
div#t div#plugins:hover {
    background: transparent url(./images/toolbar.png) no-repeat -421px -30px
}
div#t div#chat {
    background: transparent url(./images/toolbar.png) no-repeat -421px 0px
}
div#t div#chat:hover {
    background: transparent url(./images/toolbar.png) no-repeat -421px -30px
}
div#t a#mnu_go::before {
    content: "GO";
}
div#t a#mnu_go {
    margin: 6px 12px 0 6px;
    padding: 3px;
    background: #65878F;
    padding: 4px;
    line-height: 12px;
    border-radius: 3px;
    color: #fff;
    font-weight: 400;
}
div#t a#mnu_go:hover {
    background: #59A9C2;
}
#go {
    background: transparent !important;
    *margin: 3px 0 0 0;
    *padding: 3px;
    *background: #222 !important;
    *border-radius: 2px;
    height: 12px !important;
    *color: #fff;
    width: 2px !important;
    *border: 1px solid #333;
}
#go:hover {
    background: transparent !important;
    *background: #111 !important;
    *border-color: #222;
}
.stg_con td input {
    padding: 1px 4px;
}
a {
    color: #446CB3;
    font-family: inherit;
}
a:hover, a:focus {
    color: #3498DB;
}
textarea {
	background: #000 none repeat scroll 0 0;
	border: 1px solid #000;
	color: green;
	font-family: monospace;
}
textarea[disabled] {
    border: 1px solid #000;
    background: #2a2a2a;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
input[type="text"], input[type="password"], input[type="file"], select {
    background: #212121 none repeat scroll 0 0;
    border: 1px solid #313131;
    color: #aaa;
}
input[type="text"][disabled], input[type="password"][disabled], input[type="file"][disabled], select[disabled] {
    background: #212121 none repeat scroll 0 0;
    border: 1px solid #313131;
    color: black;
}
input.Button {
    background: #222 none repeat scroll 0 0;
    border: 1px solid #333;
    border-radius: 3px;
    color: #6C7A89;
    cursor: pointer;
    display: inline;
    font-weight: 400;
    height: 21px;
    line-height: 2px;
    margin-left: 12px;
    padding: 6px 12px;
    text-shadow: none;
}
input.Button:hover, input.Button:focus {
    background: #3a3a3a none repeat scroll 0 0;
    text-shadow: 0 0 4px #999;
    color: #999;
}
div#CatList {
    border: none;
    background-color: #fff;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
}
div#CatList ul {} div#CatList ul li span {
    color: #67809F
}
div#CatList ul li.sel span {
    color: #2782cf
}
div#CatList {
  background-color: #222;
  border: 1px solid #222;
}
div#CatList ul li {
    background-repeat: no-repeat;
    border: 1px solid #222;
    cursor: pointer;
    font-family: Open Sans;
    font-size: 12px;
    line-height: 16px;
    margin: 0;
    padding: 3px 25px;
}
div#CatList ul li:hover {
    background-color: #303030;
}
div#CatList ul li.sel {
    background-color: #303030;
    border: 1px solid #313131;
    color: #009ddd;
    font-style: italic;
    text-shadow: none;
}
.-_-_-all-_-_-,
#-_-_-all-_-_-,
#-_-_-dls-_-_-,
#-_-_-com-_-_-,
#-_-_-act-_-_-,
#-_-_-iac-_-_-,
#-_-_-err-_-_- {
    background-image: url(./images/status_icons.png)
}
.catpanel {
    background: #222 url("./images/pnl_open.gif") no-repeat scroll 0 0;
    border-bottom: medium none;
    border-right: medium none;
    border-top: 1px solid #2a2a2a;
    color: #ccc;
    font-family: inherit;
    font-size: 14px;
    font-weight: bold;
    height: 25px;
    line-height: 25px;
    padding: 2px 28px;
    text-shadow: none;
}
span.label-count,span.label-size {
    background-color: #181818;
}
.-_-_-all-_-_-,
#-_-_-all-_-_- {
    background-position: 4px -300px;
}
#-_-_-dls-_-_- {
    background-position: 4px 2px;
}
#-_-_-com-_-_- {
    background-position: 4px -28px;
}
#-_-_-act-_-_- {
    background-position: 4px -276px;
}
#-_-_-iac-_-_- {
    background-position: 4px -55px;
}
#-_-_-err-_-_- {
    background-position: 4px -167px;
}
#-_-_-nlb-_-_- {
	background-position: 4px -640px !important;
	padding: 3px 4px !important;
}
div#CatList ul li.RSS {
    background-image: url(./images/status_icons.png);
    background-position: 4px -355px;
}
div#CatList ul li.disRSS {
    background-image: url(./images/status_icons.png);
}
.stable-icon {
    background-image: url(./images/status_icons.png);
}
.Icon_File {
    background: transparent url(./images/file.gif) no-repeat left center
}
.Icon_Dir {
    background: transparent url(./images/dir.gif) no-repeat left center
}
div#plabel_cont ul li {
    background-image: url(./images/status_icons.png);
    background-position: 4px -532px;
}
div#flabel_cont ul li {
    background-image: url(./images/status_icons.png);
    background-position: 4px -352px;
}
div.tab {
    background: #fff none repeat scroll 0 0;
    font-family: inherit;
}
div#lcont {
    background: #222 none repeat scroll 0 0;
    font-family: inherit;
}
div#gcont table td.Header {
    background: #222 none repeat scroll 0 0;
    color: #aaa;
    font-family: inherit;
    font-size: 14px;
    padding: 8px;
}
div#gcont table tr {
    background: #f1f1f1 none repeat scroll 0 0;
    font-family: inherit;
    color: #aaa
}
div#gcont table tr td {
    background: #2a2a2a none repeat scroll 0 0;
}
div#gcont table {
    font-family: inherit;
}
div.graph_tab {
    color: #aaa;
    background-color: #222;
}
.graph_tab_legend {
    color: #aaa;
    background-color: #222;
}
.graph_tab_tooltip {
    color: #aaa;
    background-color: #606060;
    border: 1px solid #606060;
}
div.table_tab {
    background-color: #222;
    font-family: inherit;
}
div#modalbg {
    background-color: #222;
}
div#List {
    background-color: #222;
    border-color: #222;
    border-style: solid;
    border-width: 1px;
    margin-right: 6px;
}
div#FileList, div#TrackerList, div#PeerList, div#Speed {
    background-color: #222;
}
div#stg {
    background-color: #2a2a2a;
    box-shadow: 10px 10px 5px #111;
}
.lm li {
	background: transparent url("./images/bul.gif") no-repeat scroll left center;
	line-height: 20px !important;
	margin: 0 5px;
	padding: 0 10px;
}
.lm li.first {
    background: transparent url(./images/bul_f.gif) no-repeat scroll left bottom
}
.lm li.last {
    background: transparent url(./images/bul_l.gif) no-repeat scroll left top
}
.lm li div.toggle {
    background: transparent url(./images/exp.gif) no-repeat scroll center center
}
.lm li a {
    color: #aaa
}
.lm li a.focus {
	background-color: #333;
	color: #cacaca;
}
.stg_con {
	background-color: #2a2a2a;
	overflow: hidden;
}
#st_btns {
	background: #2a2a2a none repeat scroll 0 0;
	float: right;
	height: 20px;
	padding: 3px;
	position: relative;
	text-align: right;
	width: 450px;
}
* > fieldset {
    border: 1px solid #333
}
input.disabled {
    background-color: #111;
    border: 1px solid #111;
    color: #555;
    cursor: not-allowed;
}
td.disabled, label.disabled, span.disabled, div.disabled {
	color: #96281b;
}
legend {
    color: #888888
}
select.cols {
    border: 1px solid #333333
}
div#dragmask {
    border: 1px dotted #333333
}
div#tdetails {
    padding: 0px;
    margin: 0px;
    background-color: #181818;
    color: #888888;
    -moz-border-radius-topleft: 5px;
    -webkit-border-top-left-radius: 5px;
    -moz-border-radius-topright: 5px;
    -webkit-border-top-right-radius: 5px;
}
div#tdcont {
  background: #222 none repeat scroll 0 0;
  border-color: #222;
  border-style: solid;
  border-width: 1px;
  margin-top: -10px;
  overflow: hidden;
  padding-bottom: 4px;
  padding-top: 4px;
}

table#maincont td.uicell {
    overflow: hidden;
    padding: 0;
    vertical-align: top;
}

/*TABBED MENU */

ul#tabbar {
	background: #222 none repeat scroll 0 0;
	border-color: #2a2a2a;
	border-style: solid solid none;
	border-width: 1px 1px medium;
	color: #038ba9;
	height: 24px;
	text-shadow: 0 1px 0 #000;
}
ul#tabbar li a {
	background: #2a2a2a none repeat scroll 0 0;
	border-color: #222;
	color: #bbb;
	cursor: pointer;
	font-family: inherit;
	line-height: 24px;
	margin: 2px 2px 0;
	padding: 4px 6px 3px;
	text-shadow: none;
	top: 0px;
}
ul#tabbar li a:hover {
	border-color: #222;
	border-width: 1px;
	color: #fff;
	text-shadow: 0 0 2px #ccc;
	background: #333;
}
ul#tabbar li.selected a {
	background: #181818 none repeat scroll 0 0;
	border: 1px solid #222;
	color: #eee;
	padding: 4px 6px 5px;
	text-shadow: 0 0 4px #eee;
	top: 0;
}
.tabbar li {
    margin-left: 1px;
    margin-right: 2px;
}
.tabbar {
    background: #222 none repeat scroll 0 0;
    border-color: #2a2a2a;
    border-style: solid solid none;
    border-width: 1px 1px medium;
    color: #038ba9;
    height: 21px;
    padding: 4px;
    text-shadow: none;
}
.tabbar li a {
    background: #333 none repeat scroll 0 0;
    border-color: #333;
    border-radius: 4px;
    color: #aaa;
    cursor: pointer;
    font-family: inherit;
    line-height: 24px;
    margin: -2px 1px 0;
    text-shadow: none;
    top: 0;
    transition: all 0.25s ease 0s;
}
.tabbar li a:hover {
    color: #fff;
    border-color: #111;
    background: #111;
    border-width: 1px;
    border-radius: 4px;
}
.tabbar li.selected a {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: #333 none repeat scroll 0 0;
    border-color: #333;
    border-image: none;
    border-radius: 4px;
    border-style: solid solid none;
    border-width: 1px 1px medium;
    color: #ececec;
    font-weight: bold;
    margin: 0 2px 0 0;
    padding: 4px 6px 3px;
    text-shadow: 0 0 2px #ececec;
    top: 0;
}
/* DIALOGS */

div#dlgProps textarea#prop-trackers {
    background: #222222;
    border: 1px solid #333333
}
div.dlg-window {
	background-color: #2a2a2a;
	border-color: #333;
	border-radius: 3px;
	border-style: solid;
	border-width: 1px;
	color: #aaa;
}
div#tcreate div.dlg-header {
    background-image: none;
}
div.dlg-header {
    background-color: #222;
    border-bottom: 1px solid #333
}
div#yesnoDlg div.dlg-header {
	background: #222 none repeat scroll 0 0;
	border-bottom: 1px solid #333333;
	text-shadow: 0 -1px 0 #000;
}
div#stg-header {
	background: #222 none repeat scroll 0 0;
	border-bottom: 1px solid #333;
	font-family: Open Sans;
	font-size: 14px;
	text-shadow: none;
}
div#stg .lm {
  background-color: #1a1a1a;
  border: 1px solid #333;
}
.lm li {
	line-height: 18px !important;
}
div.dlg-window {
	color: #aaa;
	font-family: Open Sans;
	font-size: 11px;
}
div#dlgHelp-header, div#dlgHelp div.dlg-header {
	background: #181818 none repeat scroll 0 0;
	color: #aaa;
	font-family: Open Sans;
	font-size: 14px;
	line-height: 22px;
	text-shadow: none;
}
div#dlgHelp {
	background-color: #222222;
	box-shadow: 10px 10px 5px #1a1a1a;
	height: 265px;
	width: 250px;
}
div#dlgAbout {
	height: 265px;
	width: 250px;
}
div#tadd {
    background-color: #2a2a2a;
    box-shadow: 10px 10px 5px #111;
    margin: 5px;
    width: 400px;
}
div#tadd-header {
    background: #222 none repeat scroll 0 0;
    border-bottom: 1px solid #333333;
    text-shadow: none;
}
div.tab {
    background-color: #2a2a2a;
}
div#t div#ind {
    background: transparent url(./images/ajax-loader.png) no-repeat 0px center !important;
}
span#loadimg {
    background: transparent url(./images/ajax-loader.png) no-repeat center center;
}
/*Scrollbars*/

::-webkit-scrollbar-button:start:decrement {
    height: 23px;
    display: block;
    background-color: transparent;
}
::-webkit-scrollbar-button:end:increment {
    height: 23px;
    display: block;
    background-color: transparent;
}
::-webkit-scrollbar-corner {
    background: #1b1b1b;
}
::-webkit-scrollbar-track-piece {
    background-color: #1b1b1b;
    border: 1px solid #1C1C1C;
    -webkit-border-radius: 6px;
}
::-webkit-scrollbar-thumb:vertical,
::-webkit-scrollbar-thumb:horizontal {
    height: 50px;
    background-color: #343434;
    -webkit-border-radius: 6px;
}
/* LOG */

input#clear_log,
input#add_url,
input#add_button {
    margin-top: 2px;
}
div#lcont {} div#lcont div.std {
    background: #2a2a2a none repeat scroll 0 0;
    height: 17px;
    line-height: 17px;
    border-bottom: 1px solid #2a2a2a;
}
div#lcont div.std:nth-child(2n+1) {
    background: #222 none repeat scroll 0 0;
}
#StatusBar {
    background: #2a2a2a none repeat scroll 0 0;
    border-top: 1px solid #2a2a2a;
    color: #ddd;
    font-family: inherit;
    height: 30px;
    margin-bottom: -5px;
    margin-top: 8px;
}
#StatusBar table tr td {
    background: #2a2a2a none repeat scroll 0 0;
    border: medium none;
    padding-right: 5px;
}
#StatusBar table tr td td {
    background: none;
}
#StatusBar table tr td:last-child {
    border-top: red;
}
#st_up {
    background: url(./images/status.png) no-repeat 6px 0px;
}
#st_down {
    background: url(./images/status.png) no-repeat 6px -18px;
}
.statuscell {
    border: medium none;
    height: 20px;
    line-height: 20px;
    padding-right: 5px;
}
#stup_speed {
    color: #03a678 !important;
}
#stdown_speed {
    color: #4183D7 !important;
}
#stup_total, #stdown_total {
    color: #fde3a7;
}
.Icon_Dir {
    background-image: url(./images/status_icons.png);
    background-position: 0px -479px !important;
}
.Icon_File {
    background-image: url(./images/status_icons.png);
    background-position: 0px -452px !important;
}
span#ds,
span#dl {
    color: #178FD1;
}
span#ra {
    color: #00b16a;
}
span#us,
span#ul {
    color: #2ecc71;
}
span.det {
    color: #6C7A89;
}
div#HDivider {
    background: #444 none repeat scroll 0 0;
    cursor: e-resize;
    height: 0;
    margin: 0;
    padding: 0;
    width: 5px;
}
div#HDivider:hover,
div#VDivider:hover {
    background: #666 none repeat scroll 0 0;
}
div#t div {
    cursor: pointer;
    float: left;
    height: 30px;
    width: 30px;
}
.noty_bar.noty_theme_default.noty_error {
    background-color: #d24d57;
    border-color: darkred;
    color: #fff;
}
#meter-disk-value,
#qmeter-disk-value,
#qmeter-band-value {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    *background: #1e824c none repeat scroll 0 0 !important;
    border-color: #eee #eee -moz-use-text-color;
    border-image: none;
    border-style: inset inset none;
    border-width: 1px 1px medium;
    float: left;
}
#meter-disk-text,
#qmeter-disk-text,
#meter-band-text {
    color: #6c7a89;
    float: left;
    font-family: inherit;
    font-size: 11px;
    height: 0;
    left: 40%;
    overflow: visible;
    position: relative;
    text-align: left;
    text-shadow: 0 0 2px #6c7a89;
    width: 0;
    z-index: 1;
}
.tskconsole,
.exconsole,
.console,
.starterConsole {
    background: #efefef none repeat scroll 0 0;
}
#traf_graph_ctrl {
    margin-top: -5px;
}
.legendLabel {
    color: #999 !important;
}
#PluginList {
    margin-top: 0;
}
.Status_Up {
	background-position: 0px -28px !important;
}
.Status_Down {
  background-position: 0px 1px !important;
}
.Status_Checking {
	background-position: 0 -302px !important;
}
.Status_Error {
	background-position: 0 -167px !important;
}
.Status_Paused {
	background-position: 0 -86px !important;
}
.Status_Completed {
	background-position: 0 -193px !important;
}
.Status_Error_Up {
    background-position: 0 -141px !important;
}
.Status_Error_Down {
  background-position: 0 -115px !important;
}
table#maincont {
  margin: 0;
}
div#gcont table {
	font-family: Open Sans;
	font-size: 12px;
	line-height: 13px;
}

li.cat.tracker {
	padding: 3px 4px !important;
}

ul.CMenu li:hover ul {
	display: block;
	left: 180px;
	position: absolute;
	top: -1px;
	width: 180px;
}

/* for club-Swizards */
.meter-value-start-color { background-color: #96281B !important;}
.meter-value-end-color { background-color: #1E824C !important;}
::-webkit-scrollbar {width:12px;height:12px;padding:0px;margin:0px;}
