.tskconsole,
.exconsole,
.console,
.starterConsole {
    background: #333333
}
.cCell {
    color: black
}
#meter-disk-value, #qmeter-disk-value, #qmeter-band-value {
    background: #6c7a89 none repeat scroll 0 0;
    border: 1px solid transparent;
    border-radius: 12px;
    float: left;
}
#meter-disk-text,
#qmeter-disk-text,
#meter-band-text {
    color: #fff;
    text-shadow: 0px 0px 2px #000;
    position: relative;
    text-align: left;
    float: left;
    width: 0px;
    height: 0px;
    top: 1px;
    overflow: visible;
    left: 40%;
    font-size: 11px;
    font-family: inherit;
    z-index: 1;
}
#meter-disk-holder, #qmeter-disk-holder, #meter-band-holder {
    background: rgba(0, 0, 0, 0) url("./images/status_icons.png") no-repeat scroll 3px -588px;
    border-right: medium none;
    height: 18px;
    line-height: 16px;
    margin-left: 0;
    padding-left: 25px;
    width: 100px;
}
#meter-cpu-text {
    position: absolute;
    left: 65px;
    top: 0px;
    color: #fff;
    text-shadow: 0px 0px 2px #000;
    font-size: 11px;
    font-family: inherit;
}
#meter-cpu-holder {
  *background: rgba(0, 0, 0, 0) url("./images/status_icons.png") no-repeat scroll 3px -616px;
  border-right: medium none;
  height: 16px;
  line-height: 16px;
  margin-left: 25px;
  padding-left: 25px;
  width: 100px;
}
#meter-cpu-td {
  background: rgba(0, 0, 0, 0) url("./images/status_icons.png") no-repeat scroll 3px -612px !important;
  height: 16px;
  line-height: 18px;
} 
.lf li input.TextboxFocus {
    background-color: transparent;
    color: #009DDD
}
.cCell {
    color: #333;
}
.Cell0 {
    background-color: #FFFDF0;
    border: 1px dotted #888888;
}
.Cell1 {
    background-color: #7EB400;
}
.Cell2 {
    background-color: #75A602;
}
.Cell3 {
    background-color: #6D9A02;
}
.Cell4 {
    background-color: #628C02;
}
.Cell5 {
    background-color: #5B8101;
}
.Cell6 {
    background-color: #527501;
}
.Cell7 {
    background-color: #4A6801;
}
.Cell8 {
    background-color: #435F01;
}
.Cell9 {
    background-color: #3B5401;
}
.CellA {
    background-color: #C1C3C3;
}
.CellB {
    background-color: #999A9A;
}
.CellC {
    background-color: #767776;
}
.CellD {
    background-color: #6B6C6B;
}
.CellE {
    background-color: #60605E;
}
.CellF {
    background-color: #000;
    color: #fff;
}
#tCellNotSupported {
    text-align: center;
}
#tRowNotSupported {
    vertical-align: middle;
    color: red;
}
#autodl-tb {
    background: transparent url(./images/toolbar.png) no-repeat -271px 0px;
}
#autodl-tb:hover {
    background: transparent url(./images/toolbar.png) no-repeat -271px -24px;
}
#autodl-multiselect-header {
    background-image: url("./images/dlg-autodl-irc.gif");
}
div#webuiUpdateToggle.pause {
    background: transparent url(./images/toolbar.png) no-repeat -560px 0px;
}
div#webuiUpdateToggle.pause:hover {
    background: transparent url(./images/toolbar.png) no-repeat -560px -30px;
}
div#webuiUpdateToggle.resume {
    background: transparent url(./images/toolbar.png) no-repeat -452px 0px;
}
div#webuiUpdateToggle.resume:hover {
    background: transparent url(./images/toolbar.png) no-repeat -452px -30px;
}
div#webuiRefresh {
    background: transparent url(./images/toolbar.png) no-repeat -520px 0px;
}
div#webuiRefresh:hover {
    background: transparent url(./images/toolbar.png) no-repeat -520px -30px;
}
div#chat {
    background: transparent url(./images/toolbar.png) no-repeat -482px 0px;
}
div#chat:hover {
    background: transparent url(./images/toolbar.png) no-repeat -482px -30px;
}
.shieven {
    background: #191919;
}
.shiodd {
    background: #333333;
}
#maillayout #letterform table tr td {
    background: #181818
}
#maillayout #replyform table tr td {
    background: #181818
}
div#quickbox {
  background-image: url("./images/quick-box.png");
  width: 100px !important;
}
div#logoff {
    background-image: url(./images/logoff.png);
}
div#logoff:hover {
    background-image: url(./images/logoff3.png);
}
div#logoffDlg div.dlg-header {
    background-image: url(./images/logoff2.png);
}

#StatusBar table tr td.pstatus0 {
  background: rgba(0, 0, 0, 0) url("./images/yellow.png") no-repeat scroll 5px center;
}
#StatusBar table tr td.pstatus1 {
  background: rgba(0, 0, 0, 0) url("./images/red.png") no-repeat scroll 5px center;
}
#StatusBar table tr td.pstatus2 {
  background: rgba(0, 0, 0, 0) url("./images/green.png") no-repeat scroll 5px center;
}

/* IRSSI TAB */
#autodl-irssi-log {
    border: 1px solid #2a2a2a !important;
    font-family: "Courier New",Courier,monospace;
    overflow: auto;
    padding: 3px;
}
.autodl-bg-default {
    background-color: #222;
}
.autodl-fg-default {
    color: #aaa;
}
#autodl-irssi-log tr:hover {
  background-color: #2a2a2a;
}
#autodl-irssi-log tr, #autodl-irssi-log td {
  border: 0 none black;
  margin: 0;
  padding: 4px 2px;
}
#autodl-preferences-header, #autodl-filters-header, #autodl-trackers-header, #autodl-servers-header, #autodl-ircsrvs-header, #autodl-help-header, #autodl-multiselect-header {
  background-image: none;
}
#autodl-filters {
  height: 370px;
  width: 600px;
}
.listbox {
  background-color: #000;
  border: 1px solid #333;
  color: green;
  font-family: Courier;
  overflow: auto;
  white-space: nowrap;
}
.listboxItem {
  color: #ccc;
  padding: 1px 2px;
}
.listboxItem:hover {
  background: #222 none repeat scroll 0 0;
}
.listboxItemSelected {
  background: #333 none repeat scroll 0 0;
  color: #ccc;
}
#hostcookies {
  border: 1px solid #333;
  cursor: text;
  font-family: monospace;
  font-size: 12px;
  height: 220px;
  width: 420px;
}
#lookat {
  border: 1px solid #333;
  cursor: text;
  font-family: monospace;
  font-size: 12px;
  height: 220px;
  width: 420px;
}
#fMan_navbut {
  background-color: transparent;
  background-image: url("./images/default_images/curdir.png");
  background-position: center center;
  background-repeat: no-repeat;
  border: 1px solid #2a2a2a;
  height: 18px;
  margin: 0 2px;
  padding: 0;
  width: 18px;
}
#fMan_navbut:hover {
  background-image: url("./images/default_images/refresh.png");
  background-repeat: no-repeat;
  border-color: #2a2a2a;
  border-style: solid;
  border-width: 1px;
}

#lbl_nlb {
    visibility: hidden !important;
}
